[Unit]
Description=Next.js Application (npm)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/darkflows/src/live-ifstat
ExecStart=/usr/bin/npm start
Restart=on-failure
Environment=PORT=4080
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

